/* Reset e base */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
  }

  
  /* Header */
.img_topo {
    height: 130px;
    width: auto;
    border-radius: 10px;
}
      

  .site-header {
    background-color: #171b5f;
    color: #c8fe08;
    padding: 20px;
    text-align: center;
  }
  
  .site-header h1 {
    margin-bottom: 10px;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .nav-menu a {
    color: #c8fe08;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-menu a:hover {
    text-decoration: underline;
  }
  
  /* Hero Section */
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
    padding: 20px;
  }
  .img_fundo{
   background-image: url(./img/fundo.png);
   background-size: cover;
  }
  
  .btn {
    background-color: #171b5f;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background-color: #219150;
  }
  
  /* Footer */
  .site-footer {
    text-align: center;
    padding: 15px;
    background-color: #171b5f;
    color: white;
    font-size: 14px;
  }
  