/* Reset e base */
.times{
    width: 35px;

}

.site-header {
    background-color: #171b5f;
    color: #c8fe08;
    padding: 20px;
    text-align: center;
  }
  .img_topo {
    height: 130px;
    width: auto;
    border-radius: 10px;
}

  .site-header h1 {
    margin-bottom: 10px;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .nav-menu a {
    color: #c8fe08;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-menu a:hover {
    text-decoration: underline;
  }
  



body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
  }
  
  /* Estilo da Tabela */
  .tabela-classificacao {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .tabela-classificacao thead {
    background-color: #171b5f;
    color: #c8fe08;
    text-transform: uppercase;
  }
  
  .tabela-classificacao th, .tabela-classificacao td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  /* Cores por posição */
  .tabela-classificacao tbody tr:nth-child(1),
  .tabela-classificacao tbody tr:nth-child(2),
  .tabela-classificacao tbody tr:nth-child(3),
  .tabela-classificacao tbody tr:nth-child(4) {
    background-color: #1a237e; /* Azul escuro */
    color: rgb(255, 255, 255);
  }
  
  .tabela-classificacao tbody tr:nth-child(5),
  .tabela-classificacao tbody tr:nth-child(6) {
    background-color: #64b5f6; /* Azul claro */
    color: rgb(255, 255, 255);
  }
  
  .tabela-classificacao tbody tr:nth-child(7),
  .tabela-classificacao tbody tr:nth-child(8),
  .tabela-classificacao tbody tr:nth-child(9),
  .tabela-classificacao tbody tr:nth-child(10),
  .tabela-classificacao tbody tr:nth-child(11),
  .tabela-classificacao tbody tr:nth-child(12) {
    background-color: #a5d6a7; /* Verde claro */
  }
  
  .tabela-classificacao tbody tr:nth-child(17),
  .tabela-classificacao tbody tr:nth-child(18),
  .tabela-classificacao tbody tr:nth-child(19),
  .tabela-classificacao tbody tr:nth-child(20) {
    background-color: #ff0400; /* Vermelho */
    color: rgb(255, 255, 255);
  }
  
body{
  background-color: #171b5f;
}
  
  